body{
    font-family: Century;
    background: rgb(51,51,51);
    color: #fff;
    padding:20px;
}
  
.page{
    width:auto;
    height:auto;    
}

.newlineHor{
    width:auto;
    padding:5px;
    height:auto;
    display:table;
}

.tile{
    height:100px;  
    width:100px; 
    float:left;
    margin:0 8px 0 0;
    padding:2px;
}

.yellow:hover{
background:#CD0000; 
}

.blue:hover{
background:#2E8B57; 
}

.green:hover{
background:#4682B4; 
}

.red:hover{
background:#DAA520; 
}

.sits:hover{
	background:url(./images/sits_small.png) no-repeat center center;
}

.sits{
	background:url(./images/sits_small.png) no-repeat center center;
	height:30px;  
    width:155px; 
    margin:-50 50px 15px 85%;
    padding:2px;
	z-index:-1;
	position:absoloute;
}

div#primary_content_about
{
margin: auto auto auto auto;

	/* ROUNDED CORNERS */
	-moz-border-radius: 24px;
	-webkit-border-radius: 24px;
	border-radius: 24px;
	/* DROP SHADOW */
	-moz-box-shadow: 0px 0px 14px #000000;
	-webkit-box-shadow: 0px 0px 14px #000000;
	box-shadow: 0px 0px 14px #000000;
	/* OTHER */
	background-color: white;
	padding: 10px;
	opacity: 0.9;
	text-align: left;

}

.moveLeft{
	margin-left: 30px;
}

.title{
	color: white;
	margin-top:-18px;
	margin-left: 3px;
}
  
.LTile{
    width:210px;
}

.pageTile{
	margin-left: 50px;
    width: 800px;
	height: 400px;
}

.yellow{
    background:#DAA520;
}
  
.red{
    background:#CD0000; 
}
  
.blue{
    background:#4682B4;
}
  
.green{
    background-color: #2E8B57;
}

.mouseover{
    background-color: #483D8B;
}

/* ICONS!!! */

.link{
	background:url(./images/06-link.png) no-repeat center center;
	height: 100px;
}

.user{
	background:url(./images/09-user.png) no-repeat center center;
	height: 100px;
}

.megaphone{
	background:url(./images/01-megaphone.png) no-repeat center center;
	height: 100px;
}

.heart{
	background:url(./images/02-heart.png) no-repeat center center;
	height: 100px;
}

.mail{
	background:url(./images/03-mail.png) no-repeat center center;
	height: 100px;
}

.letter{
	background:url(./images/04-letter.png) no-repeat center center;
	height: 100px;
}

.star{
	background:url(./images/05-star.png) no-repeat center center;
	height: 100px;
}

.share{
	background:url(./images/07-share.png) no-repeat center center;
	height: 100px;
}

.bulb{
	background:url(./images/08-light-bulb.png) no-repeat center center;
	height: 100px;
}

.code{
	background:url(./images/10-code.png) no-repeat center center;
	height: 100px;
}

.stats{
	background:url(./images/stats.png) no-repeat center center;
	background-size:182px 64px;
	height: 100px;
}

.steam{
	background:url(./images/steam.png) no-repeat center center;
	height: 100px;
}

.coin{
	background:url(./images/coin.png) no-repeat center center;
	height: 100px;
}

.coder{
	background:url(./images/coder-hire.png) no-repeat center center;
	background-size:64px 64px;
	height: 100px;
}

.paypal{
background:url(./images/paypal-icon.png) no-repeat center center;
	height: 100px;
}